@mixin button-mb {
    outline: none;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 58px;
    background-color: $dark__pink;
    color: $link__water-white;
    font-weight: 700;
    font-size: 15px;
    font-family: "Public Sans", sans-serif;
    border: 2px solid $dark__pink;
    transition: 240ms ease all;
    cursor: pointer;

    &:active {
        transition: 240ms ease all;
        background: none;
        color: $dark__pink;
    }
}